{% if article_list %}
<ul class="article_list">
    {% for article in article_list%}
    <li>
        <a href="{% url 'article' article.title %}">{{article.title}}</a>
        <span>{{article.time}}</span>
    </li>
    {% endfor %}
</ul>
<div style="height: 20px;">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">&lt;&lt;</a></li>
        {% else %}
        <li class="disabled"><a href="#">
                &lt;&lt;</a> </li>
        {% endif %}

        {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
        <li class="active">
            <a href="{% url 'index' %}?page={{ page }}">{{ page }}</a>
        </li>
        {% else %}
        <li><a href="{% url 'index' %}?page={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li><a href="{% url 'index' %}?page={{ page_obj.next_page_number }}">&gt;&gt;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&gt;&gt;</a></li>
        {% endif %}
    </ul>
</div>
{% else %}
空
{% endif %}