{% extends "base.html" %}
{% load static %}

{% block style %}
{{ block.super }}
<link rel=" stylesheet" type="text/css" href="{% static "custom/css/article.css" %}" />
{% endblock  %}


{% block content %}
<div>
    <h1 style="text-align: center;">{{article.title}}</h1>
    {{article.body_html|safe}}
</div>

<div class="row clearfix">
    <div class="col-md-12 column">
        <form action="{% url 'comment' article.id %}" , method="POST" ,role="form">
            {% csrf_token %}
            <div class="form-group">
                <label>发表评论</label>
                <textarea type="email" class="form-control" name="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

{% include "main/_commont.html" %}

{% endblock content %}