{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    {% block title %}
    <title>香菜的主页</title>
    {% endblock %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    {% block style %}
    <link rel="shortcut icon" type="image/x-icon" href=" {% static "my.ico" %} ">
    <link rel=" stylesheet" type="text/css" href="{% static "custom/bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}" />

    {% endblock %}

</head>

<body>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            {% block content %}

            {% endblock content %}
        </div>

    </div>


    {% csrf_token %}

</body>

</html>